body {
    color: #d6d6d6;
    background-color: #1e1e1e;
}

label{
    color: #e8f5b3;
}
.pure-form input[type] {
    border: 2px solid #ddd;
}
.pure-button {
    background-color: blue;
}
a.pure-button-primary {
    background: #B91A00;
    color: black;
}
.home-menu {
    background: #bd2718;
}
#nom_menu {
    color:black;
}b
.home-menu a {
    color: black;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;<<<<<<< HEAD
    =======
    }
    #nom_menu {
        color:black;
    }
    .home-menu .pure-menu-heading {
        color: black;
    }
    .home-menu .pure-menu-selected a {
        color: black !imp
    border-bottom: solid 2px whitesmoke;
}
.splash-container {
    background: #0d0101;
}
.splash-head {
    color: #bd2718;
    border: 3px solid  #bd2718;
}
.splash-subhead {
    color: #1e1e1e;
}
.content-wrapper {
    background: #1e1e1e;
}
.content-head-ribbon {
    color: white;
}
.content-subhead {
    color: #e8f5b3;
}
.ribbon {
    background: #2d3e50;
    color: #aaa;b
    color: #e8f5b3;
    border-bottom: solid 3px #e8f5b3;
}
img {
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
  }
  #nom_menu {
      color:black;
  }
  .home-menu .pure-menu-heading {
      color: black;
  }
  .home-menu .pure-menu-selected a {
      color: black !imp