body {
    color: #7f8c8d;
}
label{
    color: #38420E;
}
.pure-form input[type] {
    border: 2px solid #ddd;
}
.pure-button {
    background-color: blue;
}
a.pure-button-primary {
    background: #B91A00;
    color: whitesmoke;
}
.home-menu {
    background: #521000;
}
#nom_menu {
    color:white;
}
.home-menu .pure-menu-heading {
    color: white;
}
.home-menu .pure-menu-selected a {
    color: white !important;
}
.home-menu a {
    color: white;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border-bottom: solid 2px whitesmoke;
}
.splash-container {
    background: #ECE5B8;
}
.splash-head {
    color: #521000;
    border: 3px solid  #521000;
}
.splash-subhead {
    color: black;
}
.content-wrapper {
    background: white;
}
.content-head-ribbon {
    color: white;
}
.content-subhead {
    color: #38420E;
}
.ribbon {
    background: #2d3e50;
    color: #aaa;
}
.footer {
    background: #111;
}
#num_tel {
    color: #3f420e;
    border-bottom: solid 3px #38420E;
}
#imgBtn {
    color: rgb(189, 187, 187);
    font-size: 110%;
}
#imgBtn:hover {
    color: #000000;
}
#logoTacos {
    visibility: hidden;
}
#logoTacos2 {
    visibility: hidden;
}